<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Ana Sayfa</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/product">Ürünler</a>
                  </li>
        
                  <li class="nav-item">
                    <a class="nav-link" href="/category">Kategoriler</a>
                  </li> 
        
                  
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/customer">Kullanıcılar</a>
                  </li>
                </ul>
        
                <a class="nav-link" href="/login">Login</a>
                <form class="d-flex" role="search">
        
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-info" type="submit">Search</button>

                </form>
              </div>
            </div>
        </nav>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order Id</th>
              <th scope="col">Customer Id</th>
              <th scope="col">Product Id</th>
              <th scope="col">Ödendi Bilgisi</th>
              <th scope="col">Adres</th>
              <th scope="col">Sipariş Açıklama</th>
              
              <th scope="col">
                <button type="button" class="btn btn-outline-success" onclick="location.href='/addorder'">Ekle</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{order.orderId}}</td>
              <td>{{order.customerId}}</td>
              <td>{{order.productId}}</td>
              <td>{{order.status}}</td>
              <td>{{order.address}}</td>
              <td>{{order.description}}</td>
              
            <td>  
                  <button type="button" class="btn btn-outline-danger" (click)="deleteOrder(order.orderId)">Sil</button>
                  <button type="button" class="btn btn-outline-warning" onclick="location.href='/updateorder'">Güncelle</button>
            </td>
                 
            </tr>
          </tbody>
      </table>


        <footer>
          <div class="footeryazi">
              <p class="footeryazi">© Copyright  Her Hakkı Saklıdır.</p>
          </div>
      </footer>
    </body>
    
</html>       
