<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Ana Sayfa</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/product">Ürünler</a>
                  </li>
        
                  <li class="nav-item">
                    <a class="nav-link" href="/category">Kategoriler</a>
                  </li> 
        
                  <li class="nav-item">
                    <a class="nav-link" href="/order">Siparişler</a>
                  </li>
                 
                  
                
                </ul>
        
                <a class="nav-link" href="/login">Login</a>
                <form class="d-flex" role="search">
        
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-info" type="submit">Search</button>

                </form>
              </div>
            </div>
        </nav>


        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Customer Id</th>
              <th scope="col">Customer Adı</th>
              <th scope="col">Customer Soyadı</th>
              <th scope="col">Üyelik Tarihi</th>
              <th scope="col">Telefon</th>
              <th scope="col">Email</th>
              
              <th scope="col">
                <button type="button" class="btn btn-outline-success" onclick="location.href='/addcustomer'">Ekle</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ customer.customerId }}</td>
              <td>{{ customer.firstName }}</td>
              <td>{{ customer.lastName }}</td>
              <td>{{ customer.createDate }}</td>
              <td>{{ customer.phoneNumber }}</td>
              <td>{{ customer.email }}</td>
              
            <td>  
                  <button type="button" class="btn btn-outline-danger"(click)="deleteCustomer(customer.customerId)">Sil</button>
                  <button type="button" class="btn btn-outline-warning" (click)="navigateToUpdate(customer.customerId)">Güncelle</button>
            </td>
                 
            </tr>
          </tbody>
      </table>


        <footer>
          <div class="footeryazi">
              <p class="footeryazi">© Copyright  Her Hakkı Saklıdır.</p>
          </div>
      </footer>
    </body>

</html>       
